@import './variables.scss';
/* Banner Ball */
.banner-ball {
  width: 135px;
  height: 135px;
  border: 1px solid white;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  background-color: #0000001A;
  transform: translate(-50%, -50%) scale(0);
  z-index: 1000;
  font-family: "DM Sans";
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 60px;
    left: -5px;
    width: 12px;
    height: 12px;
    background-color: #f5f1e6; // cream dot
    border-radius: 50%;
  }
}

/* Information Ball */
.info-ball {
  width: 135px;
  height: 135px;
  border: 1px solid #D3D3D3;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  background-color: #FFFFFFF2;
  transform: translate(-50%, -50%) scale(0);
  z-index: 1000;
  font-family: "DM Sans";
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 24px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 60px;
    left: -5px;
    width: 12px;
    height: 12px;
    background-color: #000; // black dot
    border-radius: 50%;
  }
}


.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1.4rem;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 1.8rem; // 18px
  line-height: 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;

  &.primary {
    background-color: $black;
    color: #fff;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
      text-decoration: none;
    }
  }

  &.green {
    background-color: $green-color;
    color: #fff;

    &:hover {
      background-color: darken($green-color, 10%);
      transform: scale(1.05);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }
  }

  img.icon {
    transition: transform 0.3s ease;
  }

  &:hover img.icon {
    transform: translateX(3px);
  }
}



.connect-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 10px 12px 18px;
  border: 1px solid #1E1E1E;
  background: transparent;
  color: #000;
  font-family: "DM Sans";
  font-weight: 300;
  font-style: Light;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;

  &::after {
    content: "→";
    font-size: 16px;
    transition: transform 0.3s ease;
  }

  &:hover {
    background-color: #000;
    color: #fff;

    &::after {
      transform: translateX(4px);
    }
  }

  &:active {
    transform: scale(0.98);
  }
}