@import "../styles/variables";
.dubai-centre {
  // background-color: $bg-color-30;
  color: $black;
  text-align: center;

  .hero-image {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: -375px;
    z-index: 99999;
    @media (max-width:768px) {
      margin-bottom: -200px;
    }
    @media (max-width:600px) {
      margin-bottom: -100px;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }

    .hero-text {
      position: absolute;
      top: 75px;
      left: 55px;
      color: #fff;

      @media (max-width: 768px) {
        left: 20px;
      }

      h2 {
        font-family: "DM Sans";
        font-weight: 200;
        font-size: 60px;
        line-height: 65px;
        color: #fff;

        @media (max-width: 768px) {
          font-size: 4rem;
          line-height: 4.5rem;
        }

        @media (max-width: 425px) {
          font-size: 3rem;
          line-height: 3.5rem;
        }

        span {
          font-family: "Noto Serif";
          font-weight: 300;
        }
      }
    }
  }

  /* ----------- Locations Section ----------- */
  .info-section {
    background-color: $bg-color-30;
    padding: 43.3rem 0 16rem;
    border-top: 1px solid #eee;
    position: relative;
    z-index: 9999;
      &::before {
    content: "";
    position: absolute;
    top: 100px;
    left: -195px;
    width: 100%;
    max-width: 516px;
    height: 515px;
    background: url("../../public/assets/homepage/bg-rangoli.png") no-repeat center top;
   background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
      /* Rotation Animation */
      animation: rotateRangoli 40s linear infinite;
      transform-origin: center center;

    @media (max-width: 600px) {
      top: 20px;
    }
  }
  
  /* Smooth rotation keyframes */
  @keyframes rotateRangoli {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

    @media (max-width: 768px) {
      padding: 24.3rem 0 4.5rem;
    }
    @media (max-width: 600px) {
      padding: 13.3rem 0 4.5rem;
    }
    .locations-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 355px;
      gap: 4.2rem;
      @media (max-width: 1291px) {
        margin-left: 0;
      }
      .locations {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 4rem 6rem;
        @media (max-width: 901px) {
          justify-content: flex-start;
        }
        li {
          text-align: left;
          position: relative;
          padding-left: 2.4rem;
          width: 100%;
          max-width: 300px;
          min-width: 300px;
          &:nth-child(2) {
            width: auto;
            max-width: 100%;
            min-width: auto;
          }

          h3 {
            font-family: "DM Sans";
            font-weight: 200;
            font-size: 30px;
            line-height: 100%;
            color: $black;
            margin-bottom: 0.3rem;
            @media (max-width: 500px) {
              font-size: 25px;
            }
            &::before {
              content: "";
              background: url("/assets/homepage/loc.svg") no-repeat center center;
              background-size: contain;
              width: 18px;
              height: 22px;
              position: absolute;
              left: 0;
              top: 4px;
              opacity: 0.7;
            }
          }

          p {
            font-family: "DM Sans";
            font-weight: 200;
            padding-top: 0.6rem;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            color: $black;
            margin: 0;
            @media (max-width: 500px) {
              font-size: 18px;
            }
          }
        }

        &.top-row {
          flex-wrap: nowrap;
          li {
            // flex: 0 0 calc(40% - 4rem);
          }
        }

        &.bottom-row {
          flex-wrap: nowrap;
          @media (max-width: 901px) {
            flex-wrap: wrap;
          }
          li {
            // flex: 0 0 calc(26% - 4rem);
          }
        }
      }

      /* Responsive adjustments */
      @media (max-width: 1165px) {
        .locations {
          flex-wrap: wrap;
          gap: 3rem 4rem;

          li {
            // flex: 0 0 calc(50% - 2rem);
          }
        }
      }

      @media (max-width: 768px) {
        .locations {
          flex-direction: column;
          align-items: flex-start;

          li {
            flex: 0 0 100%;
            text-align: left;
          }
        }
      }
    }
  }
}
