.faq-section {
  padding: 100px 0;
  background: #fff;
  @media (max-width: 768px) {
    padding: 40px 0;
  }
  .outer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 768px) {
      align-items: center;
      flex-direction: column;
    }
  }

  /* LEFT SIDE */
  .faq-left {
    flex: 0 0 35%;
    text-align: left;

    .faq-subtitle {
      font-family: "DM Sans";
      font-weight: 200;
      font-style: ExtraLight;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #303030;
      margin: 0;
      @media (max-width: 768px) {
        margin: 0;
        font-size: 20px;
      }
    }

    .faq-title {
      font-family: Noto Serif;
      font-weight: 300;
      font-style: Display Light;
      font-size: 60px;
      line-height: 65px;
      letter-spacing: 0%;
      color: #111;
      @media (max-width: 768px) {
        font-size: 30px;
        line-height: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      span {
        font-weight: 300;
        display: block;
        font-size: 46px;
      }
    }
  }

  /* RIGHT SIDE */
  .faq-right {
    flex: 0 0 60%;
  }

  .faq-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 34px 0 40px;
    overflow: hidden;
    transition: all 0.3s ease;

    &:first-child {
      border-top: 1px solid #e0e0e0;
    }

    .faq-header {
      display: flex;
      align-items: flex-start;
      gap: 16px;
      cursor: pointer;
      transition: color 0.3s ease;

      .faq-number {
        font-family: "DM Sans";
        font-weight: 300;
        font-style: Light;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        background: #111;
        color: #fff;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        flex-shrink: 0;
        transition: background 0.3s ease;
      }

      .faq-question {
        font-family: "DM Sans";
        font-weight: 200;
        font-size: 35px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #111;
        margin: 0;
        transition: color 0.3s ease;
        @media (max-width: 768px) {
          font-size: 23px;
        }
      }
    }

    .faq-content {
      max-height: 0;
      // overflow: hidden;
      transition: max-height 0.4s ease;
      padding-left: 44px;

      .faq-inner {
        padding-top: 16px;
        font-size: 14px;
        color: #555;
        line-height: 1.6;

        p {
          font-family: "DM Sans";
          font-weight: 300;
          font-style: Light;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 0%;
          margin-bottom: 12px;
          color: #353535;
          // margin: 0;
          // padding-bottom: 2.2rem;
          // &:nth-child(3){
          //   padding-bottom: 0;
          // }
          @media (max-width: 600px) {
            font-size: 16px;
          }
          strong{
            font-weight: 400;
            font-size: 21px;
          }
        }
      }
    }

    &.active {
      .faq-number {
        background: #000;
      }

      .faq-question {
        font-weight: 200;
      }
    }
  }

  /* RESPONSIVE */
  @media (max-width: 991px) {
    .container {
      flex-direction: column;
      gap: 40px;
    }

    .faq-left,
    .faq-right {
      flex: 100%;
    }

    .faq-left {
      text-align: center;

      .faq-title {
        font-size: 36px;
        @media (max-width: 600px) {
            font-size: 30px;
          }
        span {
          font-size: 42px;
          @media (max-width: 600px) {
            font-size: 30px;
          }
        }
      }
    }
  }
}
