//  Nato Serif Font Faces //
@font-face {
    font-family: "Noto Serif";
    src: url("../../public/assets/fonts/Noto_Serif/static/NotoSerif-Thin.ttf");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif";
    src: url("../../public/assets/fonts/Noto_Serif/static/NotoSerif-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif";
    src: url("../../public/assets/fonts/Noto_Serif/static/NotoSerif-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif";
    src: url("../../public/assets/fonts/Noto_Serif/static/NotoSerif-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif";
    src: url("../../public/assets/fonts/Noto_Serif/static/NotoSerif-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif";
    src: url("../../public/assets/fonts/Noto_Serif/static/NotoSerif-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif";
    src: url("../../public/assets/fonts/Noto_Serif/static/NotoSerif-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


//  DM Sans Font Faces //

@font-face {
    font-family: "DM Sans";
    src: url("../../public/assets/fonts/DM_Sans/static/DMSans-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("../../public/assets/fonts/DM_Sans/static/DMSans-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("../../public/assets/fonts/DM_Sans/static/DMSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("../../public/assets/fonts/DM_Sans/static/DMSans-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("../../public/assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("../../public/assets/fonts/DM_Sans/static/DMSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("../../public/assets/fonts/DM_Sans/static/DMSans-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}