$xs: 360px;
$sm: 580px;
$md: 768px;
$lg: 992px;
$xl: 1080px;
$xxl: 1300px;
$xxxl: 1400px;

$primary-color: #FFFFFF;
$secondary-color: #DFDDD5;
$green-color: #30C851;
$red-color: #FF0000;
$bg-color: #F7FAFC;
$cream-color: #D7D2C2;
$black: #000000;
$text-color: #FFFFFF;
$text-color-2: #1F1F1F;
$text-color-3: #353535;
$text-color-4: #303030;
$border: 1px solid rgba($black, 0.3);
$text-color-80: rgba(55, 55, 50, 0.8);
$text-color-50: rgba(55, 55, 50, 0.5);

